<h1>Saved Searches</h1>

<table >
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Date Created</th>
    <th class="remove"></th>
  </tr>

<% @criterias.each do |criteria| %>
  <tr>
    <td><%= criteria.title %></td>
    <td><%= criteria.url %></td>
    <td><%= criteria.created_at %></td>
    <td class="remove"><%= link_to 'Remove', criteria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div class="new_search"> <%= link_to 'New Search', new_criteria_path %> <div>