<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @item.item %>
</p>

<p>
  <b>Location:</b>
  <%= @item.location %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Email:</b>
  <%= @item.email %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
